<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>

<body>
    <div th:replace="~{header :: common-header}"></div>
    <h1>プロフィール</h1>
    <!-- <div class="profile">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSI4MCI+PHJlY3Qgd2lkdGg9IjgwIiBoZWlnaHQ9IjgwIiBmaWxsPSIjNzg5NWZmIi8+PC9zdmc+"
            alt="プロフィール写真" class="avatar">
        <div> -->
    <h2>菰方貴大</h2>
    <p class="subtitle">
        ・職業・・・エンジニア <br>
        ・誕生日・・・2月22日生まれ　（猫の日）<br>
        ・年齢・・・　22歳 <br>
        ・出身・・・　福岡県大野城市<br>
        ・大学・・・　福岡工業大学<br>
        ・会社・・・　FFGコンピュータサービス株式会社　
    </p>
    </div>
    </div>
</body>

</html>