<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="/blog/register" method="post">

        <!-- <input type="number" name="id" required placeholder="ID"><br> -->
        <input type="text" name="title" required placeholder="タイトル"><br>
        <input type="text" name="text" required placeholder="本文"></textarea><br>
        <button type="submit">投稿</button>
    </form>


</body>

</html>